body {
    background-color: black;
    color: white;
    font-family: monospace;
    margin: 0;
}

body .container .section-snap {
    height: 100vh;
    scroll-snap-align: start;
}

body .container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-snap-type: mandatory;
    overflow: auto;
}

.navigation {
    position: fixed;
    height: 3rem;
    width: 100vw;
}

.menu-container {
    position: absolute;
    display: grid;
    cursor: pointer;
    top: 0.75rem;
    left: 1rem;
    animation: menu-icon-on-load;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(.26,.53,.74,1.7);
    animation-fill-mode: backwards;
    animation-delay: 3s;
}

#menu-bar1,#menu-bar2, #menu-bar3 {
    width: 34px;
    height: 1px;
    border-radius: 2.5px;
    background-color: white;
    border-color: white;
    border-style: solid;
    margin: 2px 0;
}

.bar1-change, .bar2-change, .bar3-change, .bar1-change-back, .bar2-change-back, .bar3-change-back {
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

.bar1-change { animation-name: bar1-animation; }
.bar2-change { animation-name: bar2-animation; }
.bar3-change { animation-name: bar3-animation; }
.bar1-change-back { animation-name: bar1-animation-rev; }
.bar2-change-back { animation-name: bar2-animation-rev; }
.bar3-change-back { animation-name: bar3-animation-rev; }

.navigation-container {
    transform: translateY(-3rem);
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.26,.53,.74,1.00);
    top: -0.2rem;
    text-align: center;
    position: absolute;
    justify-content: space-evenly;
    width: 100vw;
    list-style-type: none;
    display: flex;
    z-index: -1;
}

.navigation-container-show {
    transform: translateX(0);
}

.navigation-container li a {
    font-size: 2em;
    font-weight: bold;
}

.navigation-container li::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    background-color: white;
    transform-origin: bottom center;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(.72,.1,.3,.9);
}

.navigation-container li:hover::after { transform: scaleX(1); }

.navigation-container li a {
    color: white;
    text-decoration: none;
}

.title-page {
    animation-name: slide-on-load;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(.03,.3,0,1);
    animation-delay: 1s;
    animation-fill-mode: backwards;
    overflow: hidden;
    height: 100vh;
}

.titles {
    background: linear-gradient(45deg, #F53844, #42378F);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-title, .main-description { margin-left: 10rem; }

.main-title {
    font-size: 16em;
    width: fit-content;
}

.main-description {
    font-size: 2.3em;
    width: 22ch;
    margin-top: -5rem;
    animation: typing 1.3s steps(22), blink .5s step-end infinite alternate;
    animation-delay: 2.7s;
    animation-fill-mode: backwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

.page-two-content { height: 100vh; }

.page-two-title {
    font-size: 8em;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: -1rem;
}

.page-two-content h2 {
    font-size: 4em;
}

.page-two-content li {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.page-two-description {
    margin-left: 6rem;
}

.page-two-description.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: cubic-bezier(.03,.3,0,1) all 0s;
}

.page-two-description.show {
    opacity: 1;
    transform: translateX(0);
    transition: cubic-bezier(.03,.3,0,1) all 1.3s;
}

.show.page-two-description:nth-child(0) { transition-delay: 100ms; }
.show.page-two-description:nth-child(1) { transition-delay: 200ms; }
.show.page-two-description:nth-child(2) { transition-delay: 300ms; }
.show.page-two-description:nth-child(3) { transition-delay: 400ms; }
.show.page-two-description:nth-child(4) { transition-delay: 500ms; }
.show.page-two-description:nth-child(5) { transition-delay: 600ms; }
.show.page-two-description:nth-child(6) { transition-delay: 700ms; }
.show.page-two-description:nth-child(7) { transition-delay: 800ms; }
.show.page-two-description:nth-child(8) { transition-delay: 900ms; }
.show.page-two-description:nth-child(9) { transition-delay: 1000ms; }

.page-three-title {
    font-size: 8em;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: -1rem;
}

.page-three-description {
    margin-left: 6rem;
    font-size: 1.5rem;
}

.temp {
    display: grid;
    border: 2px solid green;
    justify-content: space-evenly;
}

.temp-content {
    background-color: orange;
    width: 100px;
    height: 100px;
}

/* animation when page loads */
@keyframes slide-on-load {
    0% {
        transform: translateY(60%);
        opacity: 0;
        overflow: hidden;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
        overflow: hidden;
    }
}

@keyframes menu-icon-on-load {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

/* Navigation icon animations */
@keyframes bar1-animation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(0.56rem) rotate(0deg);
        
    }
    100% {
        transform: translateY(0.56rem) rotate(45deg);
    }
}

@keyframes bar2-animation {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0.05, 1);
    }
}

@keyframes bar3-animation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-0.55rem) rotate(0deg);
    }
    100% {
        transform: translateY(-0.55rem) rotate(-45deg);
    }
}

@keyframes bar1-animation-rev {
    0% {
        transform: translateY(0.56rem) rotate(45deg);
    }
    50% {
        transform: translateY(0.56rem) rotate(0deg);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes bar2-animation-rev {
    0% {
        transform: scale(0.1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes bar3-animation-rev {
    0% {
        transform: translateY(-0.55rem) rotate(-45deg);
    }
    50% {
        transform: translateY(-0.55rem) rotate(0deg);
    }
    100% {
        transform: translateY(0px);
    }
}

/* typing animation of content */
@keyframes typing {
    from {
      width: 0
    }
}
      
@keyframes blink {
    50% {
      border-color: transparent
    }
}
