/* animation when page loads */
@keyframes slideOnLoad {
    0% {
        transform: translateY(200%);
        opacity: 0;
        overflow: hidden;
    }
    75% {
        transform: translateY(-7%);
        opacity: 60%;
        overflow: hidden;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
        overflow: hidden;
    }
}

body {
    background-color: black;
    color: white;
}

.main {
    animation-name: slideOnLoad;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.17,.73,.14,1.0);
    animation-delay: 1s;
    animation-fill-mode: backwards;
    margin-left: 20%;
    margin-top: 10%;
    font-family: monospace;
    width: fit-content;
}

#title {
    font-size: 13em;
    background: linear-gradient(45deg, #F53844, #42378F);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: min-content;
    height: min-content;
}

/* typing animation of content */
@keyframes typing {
    from {
      width: 0
    }
}
      
@keyframes blink {
    50% {
      border-color: transparent
    }
}

#main-description {
    width: 21ch;
    animation: typing 1s steps(20), blink .5s step-end infinite alternate;
    animation-delay: 2.5s;
    animation-fill-mode: backwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
}

#sub-description {

}
